 /*Обнуление*/
*{margin: 0; padding: 0; border: 0; }
ul, li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('02.jpg');
    display: flex;
    flex-direction: row;
}
.content {
    display: flex;
    width: 100%;
    height: auto;
    margin: 30px;
    padding: 20px;
    border: 4px; 
    border-radius: 2%;
    background-color: rgba(207, 146, 228, 0.711);
}

h1,h2{
    font-family: Marmelad;
    font-size: 30px;
    color: #51345c;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-weight: bold;
}

.content-left {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
    font-family: Sofia Sans; 
    text-align: justify;
    color: #ffffff;
}
.content-right{
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

img{
    width: 60%;
    border-radius: 4%;
    border: 4px, #ffffff, solid;
}

h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 15px; 
    font-size: 30px;
    font-family: Marmelad;
    font-weight: bold;
}